* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 100;
  color: #262626;
}

a {
  color: #262626;
}

.wrapper {
  background: #FFCF40;
  width: 100%;
  height: 100vh;
  position: relative;
}

main {
  padding: 2rem 1rem;
}

main p {
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 1rem;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 1rem;
  padding: 0 1rem;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer p {
  width: 60%;
  font-size: 16px;
}

.footer img {
  width: 100px;
  align-self: flex-end;
}

@media screen and (min-width: 414px) {
  main {
    padding: 3rem;
  }
  footer {
    bottom: 2rem;
    padding: 0 3rem;
  }
}